@media(max-width:850px) {
	* {
		font-family: 'Poppins', sans-serif;
		box-sizing: border-box;
	}
	*::-webkit-scrollbar{
		width: 0;
	}
	:root {
		background-color: whitesmoke;
	}
	.nav {
		display: flex;
		margin: 10px 10px 0 10px;
		border-radius: 15px;
		background-color: black;
		height: 60px;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0px 0px 4px rgba(0, 0, 0);
	}
	.nav_list {
		list-style: none;
		display: flex;
		align-items: center;
	}
	.notify.active::after{
		transform: translateX(-5px);
		border: solid 1px whitesmoke;
		background-color: whitesmoke;
		border-radius: 10px;
		position: absolute;
		content: "";
		width: 5px;
		height: 5px;
		z-index: 5;
	}
	.uil{
		font-size: 25px;
		color: #8f95a3;
		cursor: pointer;
	}
	.nav_list li {
		margin-right: 20px;
	}
	.nav_list li a {
		color: #8f95a3;
		text-decoration: none;
	}
	.nav_list li a:active {
		color: whitesmoke;
	}

	.notifyBox {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		background-color: #ffffff;
		border: 1px solid #ccc;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		z-index: 5;
		border-radius: 20px;
		max-height: 35vh;
		overflow-y: scroll;
		
	}
	.notifyBox ul {
		padding: 0;
		list-style: none;
		margin: 0;
	}

	.notifyBox li {
		cursor: default;
		margin-left: 15px;
		border-bottom: 1px solid #eee;
		border-radius: 17px;
		justify-self: center;
	}

	.notifyBox li:last-child {
		border-bottom: none;
	}

	.notify {
		position: relative;
	}
	.report-buttons{
		display: flex;
		align-self: center;
		vertical-align: middle;
	}
	.report-buttons i{
		font-size: 20px;
		cursor: pointer;
		margin-left: 5px;
		
	}
	.report{
		display: flex;
		justify-content: space-between;
		width: 200px;
		
		max-width: 300px;
	}


	main {
		 height: max-content;
	}
	.container {
		display: grid;
		margin: 0 10px;
	}
	.sidebar.hidden {
		display: none;
	}
	.sidebar {
		height: fit-content;
		position: absolute;
		display: flex;
		justify-self: center;
		align-items: center;
		overflow-x: hidden;
		opacity: 100%;
		width: 75%;
		background-color: black;
		box-shadow: 0px 0px 7px rgba(0, 0, 0);
		border-radius: 0 0 20px 20px;
		z-index: 4;
	}

	.table {
		height: fit-content;
		hyphens: auto;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		list-style: none;
		overflow-y: scroll;
	}

	.table li a {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-decoration: none;
		color: #8f95a3;
	}
	.table li {
		margin: 5px;
	}
	.table li:active {
		scale: 1.25;
	}
	.table li a:active {
		color: whitesmoke;
	}
	.table li a.active {
		color: whitesmoke;
	}
	#nav-toggle-sidebar {
		color: #8f95a3;
		margin-left: 2vh;
		cursor: pointer;
	}
	#toggle-sidebar {
		width: 0;
		overflow: hidden;
	}
	.content {
		display: grid;
		justify-items: center;
		flex-grow: 1;
		border-style: solid;
		border-color: black;
		border-radius: 20px;
		width: 100%;
		justify-self: center;
		margin: 15px 0;
		overflow: hidden;
		background-color: transparent;

	}
	.content-buttons.hidden {
		height: 0;
		overflow: hidden;
		transition: height 0.2s ease;
	}
	.relative_buttons{
		justify-self: center;
		width: 70vw;
		height: 0;
	}
	.content-buttons {
		transition: height 0.5s ease;
		margin-top: 20px;
		position: absolute;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content:space-between ;
		background-color: rgb(186, 186, 186);
		border-radius: 20px;
		z-index: 3;
		width: 70vw;
		box-shadow: 0px 0px 7px rgba(0, 0, 0);
	}
	/* Основные стили для контейнера с фильмами */
	.movies_container {
		justify-items: center;
		align-self: center;
		max-width: 100%;
		display: grid;
		flex-wrap: wrap;
		justify-self: center;
		margin: 0vh 20px 0 20px;
		overflow-y: scroll;
		height: 800px;
	}
	.movie:nth-child(1){
		margin-top: 90px;
	}
	/* Стили для отдельного фильма */
	.movie {
		width: min-content;
		min-width: 300px;
		display: grid;
		justify-items: center;
		border-radius: 20px;
		margin: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0);
	}
	.movie-image {
		justify-self: center;
		width: 175px;
		height: 236px;
		margin-top: 20px;
	}
	/* Стили для изображения фильма */
	.movie-image img {
		align-self: center;
		justify-self: center;
		object-fit: cover;
		overflow: hidden;
		width: 175px;
		height: 236px;
		border-radius: 20px;
	}
	hr.solid {
		justify-self: center;
		width: 90%;
		border-top: 5px solid #bbb;
		border-radius: 3px;
		margin: 1vh 0 0 0;
	}
	/* Стили для дополнительных деталей фильма */
	.movie-details {
		display: grid;
		margin: 10px;
	}
	.movie-details h2 {
		margin: 0 1vh 1vh 1vh;
	}
	.genres{
		hyphens: auto;
	}
	.rating, .genres {
		margin: 5px;
	}
	/* Стили для контейнера с описанием */
	.description {
		font-size: 13px;
		color: #8f95a3;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		/* Количество отображаемых строк */
		-webkit-box-orient: vertical;
		max-height: 100px;
		/* Максимальная высота для 3 строк (зависит от размера шрифта) */
		overflow: hidden;
		text-overflow: ellipsis;
		text-indent: 1em;
		hyphens: auto;
	}
	.description-container {
		margin-top: 1vh;
		padding: 0vh 1vh 0 1vh;
		border: solid 1px black;
		border-radius: 2vh;
	}
	/* Стили для кнопки "Подробнее" */
	.details-button {
		box-sizing: border-box;
		margin: 10px 10px 0 10px;
		justify-self: center;
		display: block;
		background-color: black;
		color: #8f95a3;
		padding: 10px;
		width: 100px;
		text-align: center;
		text-decoration: none;
		border-radius: 20px;
	}
	.details-button:active {
		color: whitesmoke;
	}
	.dropbtn.hidden {
		border: none;
		padding: 0;
		width: 0;
		height: 0;
		overflow: hidden;
	}
	.dropbtn {
		transition: 0.2s ease-out;
		background-color: black;
		overflow: hidden;
		width: 80px;
		height: 35px;
		border-radius: 20px;
		color: #8f95a3;
		padding: 10px;
		font-size: 16px;
		border: none;
		cursor: pointer;
		padding: 5px;
		box-sizing: border-box;
		font-size: 14px;
		justify-self: flex-end;
	}
	.dropdown-content {
		position: absolute;
		/* Установите позицию "absolute" */
		z-index: 1;
		/* Установите "z-index", чтобы меню было поверх фильмов */
		justify-self: flex-start;
		display: none;
		background-color: black;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
		border-radius: 10px
	}
	.dropdown-content a {
		padding: 12px 16px;
		text-decoration: none;
		display: flex;
		color: #8f95a3;
		justify-content: center;
	}
	.dropdown-content a:hover {
		scale: 1.15;
		color: whitesmoke;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
	.filtering {
		margin: 2vh;
	}
	.dropdown {
		display: grid;
		width: 160px;
		position: relative;
	}



}